%TMPL:INCLUDE{viewsidebar}%

%{ Please note that there must be a new line before the include of the WebLeftBar. Other wise the first bullet will not be displayed as a bullet. See Foswiki task Item410 }%
%TMPL:DEF{"websidebar"}%%TMPL:P{"sidebar:webindicator"}%
%INCLUDE{"%SYSTEMWEB%.YuiMenuContrib"}%
%TMPL:END%


